.App{
  margin: 20px auto;
  max-width: 1200px;
  min-height: 100vh;
}

.component {
  min-height: 500px;
  border: var(--border-line-strong);
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  background-color: white;
}