@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --primary-color: rgb(16, 150, 203);
  --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  /* --box-shadow: 0; */
  --border-line-weak: rgb(245, 245, 245);
  --border-line-strong: rgb(218, 218, 218);
  --secondary-color: rgb(44, 44, 44);
  --third-color: rgb(75, 75, 75);
}

* {
  font-family: 'Nunito';
  margin: 0;
  padding: 0;
}